:host {
    .add-button {
        display: inline-block;
        align-items: center;
        background-color: gray;
        width: 300px;
        height: 40px;
        font-size: medium;
        border: 1px solid black;
        cursor: pointer;
    }
    .wallets-wrapper {
        margin: 20px 0;
        padding: 0 20px;
        display: flex;
        justify-content: flex-start;

        .add-button-container {
            width: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .list-of-wallets {
            max-width: 600px;
            margin-left: 20px;
            width: calc(100% - 130px);
        }
    }
}
