<button mat-button class="add-button" (click)="onAddTransactionClick(type.EXPENSE)">+ Add expense</button>

<open-income-form></open-income-form>
<app-loader></app-loader>

<div class='wallets-wrapper'>
  <div class="add-button-container">
    <button mat-fab color="primary" (click)="openCreateWalletModal()">
      <mat-icon>add</mat-icon>
    </button>
    <span>Add wallet</span>
  </div>

  <app-list-of-wallets class='list-of-wallets'></app-list-of-wallets>
  <<<<<<< HEAD </div>
    <income-table [tableData]="transaction" [tableType]="tableTypes.RECENT"></income-table>
