.form {
    .title {
        font-size: 23px;
        margin-bottom: 5px;
    }
    margin: 0;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .mat-typography {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: 16px 69px 0;
        .amount-container {
            position: relative;
            .currency-view {
                position: absolute;
                padding: 20px 0 0 15px;
                font-size: 17px;
            }
        }
    }
    .down-button {
        padding-top: 10px;
    }
}
