input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form {
    .title {
        font-size: 23px;
        margin-bottom: 5px;
    }
    margin: 0;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .mat-typography {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: 16px 69px 0;
    }
    .error-message {
        color: red;
        font-size: 14px;
        display: inline-block;
        padding-left: 6px;
        margin-bottom: 6px;
    }
    .down-button {
        padding-top: 10px;
    }
}
