<form class="form" [formGroup]="pigForm">
  <span class="title">Add savings</span>
  <mat-dialog-content class="mat-typography">
    <mat-form-field class="income-field" appearance="fill">
      <mat-label>Choose your wallet</mat-label>
      <mat-select formControlName="wallet">
        <mat-option *ngFor="let item of wallets" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="amount-container">
      <mat-form-field class="income-field" appearance="fill">
        <input matInput formControlName="amount">
      </mat-form-field>
      <span class="currency-view">{{ currency }}</span>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="down-button">
    <button mat-button [mat-dialog-close]="pigForm.value" cdkFocusInitial [disabled]="pigForm.invalid">
      Add
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
