<mat-sidenav-container class="sidenav-container">
    <app-header>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a
                mat-tab-link
                routerLinkActive="active-link"
                *ngFor="let link of menuItems"
                [routerLinkActiveOptions]="{ exact: true }"
                #rla="routerLinkActive"
                [active]="rla.isActive"
                [routerLink]="link.route"
            >
                <mat-icon aria-hidden="false" class="header-icons"> {{ link.icon }} </mat-icon>
                <span>{{ link.name }}</span>
            </a>
        </nav>
    </app-header>
    <mat-tab-nav-panel #tabPanel>
        <ng-content></ng-content>
    </mat-tab-nav-panel>
</mat-sidenav-container>
