:host {
    .header-container {
        width: 100%;
        align-items: flex-end;
        display: flex;

        .header-icons {
            cursor: pointer;
            font-size: 30px;
            width: 30px;
            height: 30px;
        }

        .header-content {
            flex-grow: 2;
            display: flex;
            gap: 20px;
            justify-content: center;
        }

        .header-right-icons {
            display: flex;
            gap: 20px;
            font-size: 14px;
            justify-content: flex-end;
        }
    }
}
