<mat-toolbar class="header-container">
    <div class="header-content">
        <ng-content></ng-content>
    </div>
    <div class="header-right-icons">
        <app-notifications>
            <mat-icon aria-hidden="false" class="header-icons notifications" aria-label="notifications">
                notifications
            </mat-icon>
        </app-notifications>

        <app-user-profile class="header-right-icons">
            <mat-icon aria-hidden="false" class="header-icons profile-menu" aria-label="account_circle">
                account_circle
            </mat-icon>
        </app-user-profile>
    </div>
</mat-toolbar>
