@mixin generalWidth($margin: 0 auto, $display: flex) {
    margin: $margin;
    display: $display;
}

$backColor: #225367;

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, $backColor, #c5dde8);
    padding: 0 10px;
}

.form {
    @include generalWidth;
    flex-direction: column;
    width: 400px;
    margin-top: 100px;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    width: 304px;
    padding-top: 50px;
}

.login-btn {
    color: blue;
    display: flex;
    justify-content: center;
}

.example-full-width {
    position: relative;
    width: 360px;
}

.eye-icon {
    position: absolute;
    margin-left: -20px;
    margin-top: -10px;
    color: white;
    cursor: pointer;
}

.forgot-password {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: white;
}

.welcome {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 23px;
    margin-top: 16px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px gray;
    line-height: 60px;
}

.errors {
    color: red;
    margin-bottom: 10px;
}

.error-message {
    color: #c74c73;
}

@media screen and (max-width: 720px) {
    .welcome {
        font-size: 3rem;
        margin-top: 50px;
    }
    .form {
        width: 320px;
    }
    .example-full-width {
        width: 280px;
    }
}

@media screen and (max-width: 320px) {
    .welcome {
        font-size: 3rem;
        margin-top: 50px;
        line-height: 30px;
    }
    .form {
        width: 260px;
        padding: 0 5px;
    }
    .example-full-width {
        width: 240px;
    }
}
