@import 'mixins';
@import 'variables';

.mat-elevation-z8 {
    width: 780px;
    margin-top: 20px;
    .mat-sort-header-container {
        padding-left: 50px;
    }
    .date-sort,
    .amount-sort {
        text-decoration: underline;
    }
    .ng-tns-c61-10,
    .ng-tns-c61-9 {
        @include generalWidth;
        align-items: center;
        height: 56px;
    }
    .mat-header-row {
        .mat-header-cell {
            text-align: center;
        }
    }
    .edit-button {
        width: 40px;
        height: 20px;
        cursor: pointer;
        outline: none;
    }
}

table {
    text-align: center;
}

.show-more {
    color: rgb(88, 181, 227);
    text-decoration: underline;
    cursor: pointer;
}
