<div class="dialog-text">
    <div *ngIf="dialogHeading.length > 0" mat-dialog-title class="dialog-heading">{{ dialogHeading }}</div>
    <div *ngIf="dialogContent.length > 0" class="dialog-content">{{ dialogContent }}</div>
</div>
<div mat-dialog-actions class="dialog-buttons">
    <button
        mat-button
        mat-dialog-close
        [ngClass]="{
            'dialog-focused-btn': btnFocused === btnFocus.confirm || btnFocused === btnFocus.both,
            'dialog-non-focused-btn': btnFocused !== btnFocus.confirm && btnFocused !== btnFocus.both
        }"
        (click)="handleClose(dialogEnum.confirm)"
    >
        Yes
    </button>
    <button
        mat-button
        mat-dialog-close
        [ngClass]="{
            'dialog-focused-btn': btnFocused === btnFocus.refuse || btnFocused === btnFocus.both,
            'dialog-non-focused-btn': btnFocused !== btnFocus.refuse && btnFocused !== btnFocus.both
        }"
        cdkFocusInitial
        (click)="handleClose(dialogEnum.refuse)"
    >
        No
    </button>
</div>
