<div class="header-container">
    <div class="header-left-icons">
        <mat-icon aria-hidden="false" class="header-icons" aria-label="home">home_outlined</mat-icon>
        <mat-icon aria-hidden="false" class="header-icons" aria-label="person outlined">person_outlined</mat-icon>
    </div>
    <div class="header-content">
        <ng-content></ng-content>
    </div>
    <div class="header-right-icons">
        <mat-icon aria-hidden="false" class="header-icons" aria-label="home">today_outlined</mat-icon>
        <mat-icon aria-hidden="false" class="header-icons" aria-label="note alt outlined">note_alt_outlined</mat-icon>
        <mat-icon aria-hidden="false" class="header-icons" aria-label="email outlined">mail_outlined</mat-icon>
        <mat-icon aria-hidden="false" class="header-icons" aria-label="configure outlined">settings_outlined</mat-icon>
        <mat-icon aria-hidden="false" class="header-icons" aria-label="configure outlined">tune_outlined</mat-icon>
    </div>
</div>
