<form class="form" [formGroup]="categoryForm">
  <mat-dialog-content>
    <div class="field">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label aria-required="true">Category name</mat-label>
        <input formControlName="category" matInput>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="down-button">
    <button mat-button [mat-dialog-close]="categoryForm.value" cdkFocusInitial
      [disabled]="categoryForm.invalid">Add</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
