<form class="form" [formGroup]="categoryForm">
    <mat-form-field>
        <mat-label aria-required="true">Category name</mat-label>
        <input formControlName="name" matInput required />
        <mat-error *ngIf="name?.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput [ngxMatColorPicker]="picker" formControlName="color" placeholder="Category color" />
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker></ngx-mat-color-picker>
        <mat-hint align="end"> Click the icon to set the color, or the default color will be set ^</mat-hint>
    </mat-form-field>

    <div class="form-buttons">
        <button
            mat-flat-button
            color="primary"
            [mat-dialog-close]="categoryForm.value"
            [disabled]="categoryForm.invalid"
        >
            Add
        </button>
        <button mat-flat-button color="warn" (click)="onCancel()">Cancel</button>
    </div>
</form>
