<div class="wrapper" #createWalletForm>
    <form [formGroup]="form">
        <div class="container">
            <mat-form-field appearance="fill">
                <mat-label>Wallet name</mat-label>
                <input matInput placeholder="Wallet name" formControlName="name" />
                <mat-hint *ngIf="form.get('name')?.errors">Please enter wallet name</mat-hint>
            </mat-form-field>

            <app-currency-dropdown (currencyChange)="onCurrencyChange($event)"></app-currency-dropdown>

            <mat-slide-toggle color="warn" formControlName="isDefault" (change)="onSlideToggle($event)"
                >Set as default</mat-slide-toggle
            >

            <div class="form-buttons">
                <button
                    mat-flat-button
                    color="primary"
                    [mat-dialog-close]="form.value"
                    [disabled]="!form.valid"
                    type="submit"
                >
                    Create
                </button>
                <button mat-flat-button color="warn" (click)="onCancel()" [mat-dialog-close]="false">Cancel</button>
            </div>
        </div>
    </form>
</div>
